In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [2]:
df = pd.read_csv('SCA.csv')
df.head()

,Player,Nation,Pos,Squad,90s,SCA,SCA90,PassLive,PassDead,Dribbles,Shots,Fouls,Def,GCA,GCA90
0,Patrick van Aanholt\Patrick-van-Aanholt,nl NED,DF,Crystal Palace,19.7,26,1.32,22,3,1,0,0,0,3,0.15
1,Tammy Abraham\Tammy-Abraham,eng ENG,FW,Chelsea,11.6,18,1.56,11,0,1,3,3,0,2,0.17
2,Che Adams\Che-Adams,sct SCO,FW,Southampton,29.6,66,2.23,48,0,1,6,8,3,8,0.27
3,Tosin Adarabioyo\Tosin-Adarabioyo,eng ENG,DF,Fulham,32.8,17,0.52,16,0,0,1,0,0,1,0.03
4,Adrián\Adrian,es ESP,GK,Liverpool,3.0,0,0.00,0,0,0,0,0,0,0,0.00

In [3]:
df['Player'] = df['Player'].str.split('\\',expand=True)[0]

df['Nation'] = df['Nation'].str.split(' ',expand = True)[1]

df['Pos'] = df['Pos'].str[:2]

df.head()

,Player,Nation,Pos,Squad,90s,SCA,SCA90,PassLive,PassDead,Dribbles,Shots,Fouls,Def,GCA,GCA90
0,Patrick van Aanholt,NED,DF,Crystal Palace,19.7,26,1.32,22,3,1,0,0,0,3,0.15
1,Tammy Abraham,ENG,FW,Chelsea,11.6,18,1.56,11,0,1,3,3,0,2,0.17
2,Che Adams,SCO,FW,Southampton,29.6,66,2.23,48,0,1,6,8,3,8,0.27
3,Tosin Adarabioyo,ENG,DF,Fulham,32.8,17,0.52,16,0,0,1,0,0,1,0.03
4,Adrián,ESP,GK,Liverpool,3.0,0,0.00,0,0,0,0,0,0,0,0.00

In [4]:
add_list = ['PassLive','PassDead','Dribbles','Shots','Fouls','Def']
df['Sum SCA'] = df[add_list].sum(axis=1)
df.head()

,Player,Nation,Pos,Squad,90s,SCA,SCA90,PassLive,PassDead,Dribbles,Shots,Fouls,Def,GCA,GCA90,Sum SCA
0,Patrick van Aanholt,NED,DF,Crystal Palace,19.7,26,1.32,22,3,1,0,0,0,3,0.15,26
1,Tammy Abraham,ENG,FW,Chelsea,11.6,18,1.56,11,0,1,3,3,0,2,0.17,18
2,Che Adams,SCO,FW,Southampton,29.6,66,2.23,48,0,1,6,8,3,8,0.27,66
3,Tosin Adarabioyo,ENG,DF,Fulham,32.8,17,0.52,16,0,0,1,0,0,1,0.03,17
4,Adrián,ESP,GK,Liverpool,3.0,0,0.00,0,0,0,0,0,0,0,0.00,0

In [7]:
df.drop(['GCA','GCA90'],axis=1,inplace=True)
df.head()

,Player,Nation,Pos,Squad,90s,SCA,SCA90,PassLive,PassDead,Dribbles,Shots,Fouls,Def,Sum SCA
0,Patrick van Aanholt,NED,DF,Crystal Palace,19.7,26,1.32,22,3,1,0,0,0,26
1,Tammy Abraham,ENG,FW,Chelsea,11.6,18,1.56,11,0,1,3,3,0,18
2,Che Adams,SCO,FW,Southampton,29.6,66,2.23,48,0,1,6,8,3,66
3,Tosin Adarabioyo,ENG,DF,Fulham,32.8,17,0.52,16,0,0,1,0,0,17
4,Adrián,ESP,GK,Liverpool,3.0,0,0.00,0,0,0,0,0,0,0

In [8]:
df['Pass per SCA'] = df['PassLive']/df['Sum SCA']
df.head()

,Player,Nation,Pos,Squad,90s,SCA,SCA90,PassLive,PassDead,Dribbles,Shots,Fouls,Def,Sum SCA,Pass per SCA
0,Patrick van Aanholt,NED,DF,Crystal Palace,19.7,26,1.32,22,3,1,0,0,0,26,0.846154
1,Tammy Abraham,ENG,FW,Chelsea,11.6,18,1.56,11,0,1,3,3,0,18,0.611111
2,Che Adams,SCO,FW,Southampton,29.6,66,2.23,48,0,1,6,8,3,66,0.727273
3,Tosin Adarabioyo,ENG,DF,Fulham,32.8,17,0.52,16,0,0,1,0,0,17,0.941176
4,Adrián,ESP,GK,Liverpool,3.0,0,0.00,0,0,0,0,0,0,0,NaN

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 532 entries, 0 to 531
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Player        532 non-null    object
 1   Nation        532 non-null    object
 2   Pos           532 non-null    object
 3   Squad         532 non-null    object
 4   90s           532 non-null    float64
 5   SCA           532 non-null    int64
 6   SCA90         532 non-null    float64
 7   PassLive      532 non-null    int64
 8   PassDead      532 non-null    int64
 9   Dribbles      532 non-null    int64
 10  Shots         532 non-null    int64
 11  Fouls         532 non-null    int64
 12  Def           532 non-null    int64
 13  Sum SCA       532 non-null    int64
 14  Pass per SCA  469 non-null    float64
dtypes: float64(3), int64(8), object(4)
memory usage: 62.5+ KB

In [16]:
df.drop(df[df['SCA']==0].index,inplace=True)
df.head()

,Player,Nation,Pos,Squad,90s,SCA,SCA90,PassLive,PassDead,Dribbles,Shots,Fouls,Def,Sum SCA,Pass per SCA
0,Patrick van Aanholt,NED,DF,Crystal Palace,19.7,26,1.32,22,3,1,0,0,0,26,0.846154
1,Tammy Abraham,ENG,FW,Chelsea,11.6,18,1.56,11,0,1,3,3,0,18,0.611111
2,Che Adams,SCO,FW,Southampton,29.6,66,2.23,48,0,1,6,8,3,66,0.727273
3,Tosin Adarabioyo,ENG,DF,Fulham,32.8,17,0.52,16,0,0,1,0,0,17,0.941176
5,Sergio Agüero,ARG,FW,Manchester City,6.2,16,2.58,13,0,2,0,0,1,16,0.812500

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 469 entries, 0 to 531
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Player        469 non-null    object
 1   Nation        469 non-null    object
 2   Pos           469 non-null    object
 3   Squad         469 non-null    object
 4   90s           469 non-null    float64
 5   SCA           469 non-null    int64
 6   SCA90         469 non-null    float64
 7   PassLive      469 non-null    int64
 8   PassDead      469 non-null    int64
 9   Dribbles      469 non-null    int64
 10  Shots         469 non-null    int64
 11  Fouls         469 non-null    int64
 12  Def           469 non-null    int64
 13  Sum SCA       469 non-null    int64
 14  Pass per SCA  469 non-null    float64
dtypes: float64(3), int64(8), object(4)
memory usage: 58.6+ KB

In [18]:
new_cols_list = [each + ' per SCA' for each in add_list]

for idx, val in enumerate(new_cols_list):
    df[val] = df[add_list[idx]] / df['Sum SCA']
    
df['Sum SCA %'] = df[new_cols_list].sum(axis=1)

df.head()

,Player,Nation,Pos,Squad,90s,SCA,SCA90,PassLive,PassDead,Dribbles,Shots,Fouls,Def,Sum SCA,Pass per SCA,PassLive per SCA,PassDead per SCA,Dribbles per SCA,Shots per SCA,Fouls per SCA,Def per SCA,Sum SCA %
0,Patrick van Aanholt,NED,DF,Crystal Palace,19.7,26,1.32,22,3,1,0,0,0,26,0.846154,0.846154,0.115385,0.038462,0.000000,0.000000,0.000000,1.0
1,Tammy Abraham,ENG,FW,Chelsea,11.6,18,1.56,11,0,1,3,3,0,18,0.611111,0.611111,0.000000,0.055556,0.166667,0.166667,0.000000,1.0
2,Che Adams,SCO,FW,Southampton,29.6,66,2.23,48,0,1,6,8,3,66,0.727273,0.727273,0.000000,0.015152,0.090909,0.121212,0.045455,1.0
3,Tosin Adarabioyo,ENG,DF,Fulham,32.8,17,0.52,16,0,0,1,0,0,17,0.941176,0.941176,0.000000,0.000000,0.058824,0.000000,0.000000,1.0
5,Sergio Agüero,ARG,FW,Manchester City,6.2,16,2.58,13,0,2,0,0,1,16,0.812500,0.812500,0.000000,0.125000,0.000000,0.000000,0.062500,1.0

In [21]:
df.drop(['Pass per SCA'],axis=1,inplace=True)
df.head()

,Player,Nation,Pos,Squad,90s,SCA,SCA90,PassLive,PassDead,Dribbles,Shots,Fouls,Def,Sum SCA,PassLive per SCA,PassDead per SCA,Dribbles per SCA,Shots per SCA,Fouls per SCA,Def per SCA,Sum SCA %
0,Patrick van Aanholt,NED,DF,Crystal Palace,19.7,26,1.32,22,3,1,0,0,0,26,0.846154,0.115385,0.038462,0.000000,0.000000,0.000000,1.0
1,Tammy Abraham,ENG,FW,Chelsea,11.6,18,1.56,11,0,1,3,3,0,18,0.611111,0.000000,0.055556,0.166667,0.166667,0.000000,1.0
2,Che Adams,SCO,FW,Southampton,29.6,66,2.23,48,0,1,6,8,3,66,0.727273,0.000000,0.015152,0.090909,0.121212,0.045455,1.0
3,Tosin Adarabioyo,ENG,DF,Fulham,32.8,17,0.52,16,0,0,1,0,0,17,0.941176,0.000000,0.000000,0.058824,0.000000,0.000000,1.0
5,Sergio Agüero,ARG,FW,Manchester City,6.2,16,2.58,13,0,2,0,0,1,16,0.812500,0.000000,0.125000,0.000000,0.000000,0.062500,1.0

In [22]:
df_att = df[((df['Pos']=='MF') | (df['Pos']=='FW')) & (df['90s']>5) & 
            (df['SCA']>15)]

df_att.head()

,Player,Nation,Pos,Squad,90s,SCA,SCA90,PassLive,PassDead,Dribbles,Shots,Fouls,Def,Sum SCA,PassLive per SCA,PassDead per SCA,Dribbles per SCA,Shots per SCA,Fouls per SCA,Def per SCA,Sum SCA %
1,Tammy Abraham,ENG,FW,Chelsea,11.6,18,1.56,11,0,1,3,3,0,18,0.611111,0.000000,0.055556,0.166667,0.166667,0.000000,1.0
2,Che Adams,SCO,FW,Southampton,29.6,66,2.23,48,0,1,6,8,3,66,0.727273,0.000000,0.015152,0.090909,0.121212,0.045455,1.0
5,Sergio Agüero,ARG,FW,Manchester City,6.2,16,2.58,13,0,2,0,0,1,16,0.812500,0.000000,0.125000,0.000000,0.000000,0.062500,1.0
11,Thiago Alcántara,ESP,MF,Liverpool,20.6,61,2.96,51,2,3,2,1,2,61,0.836066,0.032787,0.049180,0.032787,0.016393,0.032787,1.0
17,Allan,BRA,MF,Everton,22.8,38,1.67,32,0,4,1,1,0,38,0.842105,0.000000,0.105263,0.026316,0.026316,0.000000,1.0

In [23]:
km = KMeans(n_clusters=5,
           init='random',
           random_state=0)

In [25]:
y_km = km.fit_predict(df_att[new_cols_list])
y_km

array([3, 4, 1, 1, 1, 1, 4, 1, 3, 4, 4, 4, 2, 4, 2, 4, 3, 3, 1, 4, 1, 1,
       4, 1, 1, 2, 4, 4, 4, 3, 2, 3, 2, 4, 1, 1, 4, 1, 2, 1, 4, 1, 3, 2,
       3, 1, 1, 2, 4, 4, 4, 2, 2, 1, 0, 1, 2, 2, 1, 4, 3, 0, 4, 4, 1, 1,
       4, 1, 2, 1, 1, 1, 4, 1, 1, 1, 4, 3, 3, 1, 1, 4, 3, 3, 1, 1, 1, 2,
       3, 1, 2, 4, 3, 4, 4, 3, 2, 2, 1, 1, 1, 2, 4, 1, 3, 4, 3, 4, 2, 1,
       3, 1, 1, 1, 3, 0, 4, 0, 1, 4, 0, 4, 0, 1, 4, 2, 1, 0, 1, 1, 3, 2,
       4, 0, 2, 3, 4, 4, 4, 3, 1, 4, 1, 3, 1, 4, 3, 1, 4, 2, 3, 1, 3, 2,
       4, 4, 1, 0, 0, 1, 3, 1, 1, 4, 3, 3, 4, 3, 2, 3, 3, 3, 4, 3, 1, 3,
       4, 0, 4, 4, 3, 2, 1, 2, 3, 3, 4, 1, 3, 4, 4, 1])